<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.cientifica.ISISGAV.mappers.CategoriaMapper">

	<resultMap id="categoriaResultMap" type="edu.cientifica.ISISGAV.model.Categoria">
		
		<id column="id_categoria" property="id_Categoria"/>
		<result column="cod_cat" property="cod_cat"/>
		<result column="desc_cat" property="desc_cat"/>
	
	</resultMap>
	
	<select id="listarCategoria" resultMap="categoriaResultMap">
	SELECT * FROM db_isisgav.CATEGORIA;	
	</select>
	
	<select id="GetNewIDCategoria" resultType="int">
	SELECT MAX(ID_CATEGORIA) + 1 FROM db_isisgav.CATEGORIA;
	</select>

	<insert id="insertarCategoria" parameterType="edu.cientifica.ISISGAV.model.Categoria">
	INSERT INTO db_isisgav.CATEGORIA (desc_cat) VALUES (#{desc_cat});
	</insert>
	
</mapper>