<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.cientifica.ISISGAV.mappers.CompraMapper">

	<resultMap id="compraResultMap" type="edu.cientifica.ISISGAV.model.Compra">
	
		<id column="id_compra" property="id_Compra"/>		
		<result column="cod_compra" property="cod_compra"/>		
		<result column="id_factura" property="id_factura"/>
		<result column="fecha_compra" property="fecha_compra"/>
		<result column="importe_compra" property="importe_compra"/>
		
		<association column="id_empleado" property="empleado" javaType="edu.cientifica.ISISGAV.model.Empleado" 
			resultMap="edu.cientifica.ISISGAV.mappers.EmpleadoMapper.empleadoResultMap"/>
		<association column="id_proveedor" property="proveedor" javaType="edu.cientifica.ISISGAV.model.Proveedor" 
			resultMap="edu.cientifica.ISISGAV.mappers.ProveedorMapper.proveedorResultMap"/>
	
	</resultMap>


</mapper>