<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Detalle Venta</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no " />
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">

	<link th:href="@{/css/css_proyecto.css}" href="../static/css/css_proyecto.css" rel="stylesheet" type="text/css"/>

	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js}"></script>
</head>

<body>
	<nav class="navbar navbar-light bg-light">
		<img src="../static/img/Dare Instruments.png" th:src="@{/img/Dare Instruments.png}" width="175" height="68" class="d-inline-block align-top" alt="">
		<a class="navbar-brand" href="#">Navbar</a>
	</nav>

	<aside class="">
		<a class="cuadrado_cliente" th:href="@{#}">
			<img src="../static/img/Frame_cliente.png" th:src="@{/img/Frame_cliente.png}" alt=""/>
		</a>
		<a class="cuadrado_venta" th:href="@{/venta/list/}">
			<img src="../static/img/Frame_Venta.png" th:src="@{/img/Frame_Venta.png}" alt=""/>
		</a>
		<a class="cuadrado_entradas" th:href="@{#}">
			<img src="../static/img/Frame_Entradas.png" th:src="@{/img/Frame_Entradas.png}" alt=""/>
		</a>
		<a class="cuadrado_productos" th:href="@{/articulo/list/}">
			<img src="../static/img/Frame_Productos.png" th:src="@{/img/Frame_Productos.png}" alt=""/>
		</a>
		<a class="cuadrado_proveedor" th:href="@{#}">
			<img src="../static/img/Frame_Proveedor.png" th:src="@{/img/Frame_Proveedor.png}" alt=""/>
		</a>
		<a class="cuadrado_administrador" th:href="@{#}">
			<img src="../static/img/Frame_Administrador.png" th:src="@{/img/Frame_Administrador.png}" alt=""/>
		</a>
	</aside>

	<main>
		<div class="container-fluid">
			<div class="contenedor">
			<div>
				<p><label>Nro. Venta</label>
				<input id="id_venta" th:object="${ids}" th:field="*{id_Venta}" readonly>
				</p>
			</div>
				<div class="d-flex justify-content-center">
					<form>
						<div class="search-block">
							<label for="buscar_cod_art">Buscar por codigo</label>
							<p>
								<input id="buscar_cod_art" type="text" name="buscar_cod_art"
								placeholder="Código">
								<button type="button" th:onclick="buscarArticulo()"
								name="button_cod_art" id="button_cod_art">Buscar</button>
							</p>
						</div>
						<div class="d-flex justify-content-center" id="resultado"></div>
					</form>
				</div>

				<div id="form" class="d-flex justify-content-center">
					<form>
						<div class="form-group">
							<p>
								<label>Ingrese cantidad:</label>
								<input id="cantidad" class="form-control" type="number"
								placeholder="Cantidad...">
							</p>
							<button id="adicionar" class="btn btn-success"
							th:onclick="adicionarDetalleCompra('DetalleVentaTable'); getJson('DetalleVentaTable');"
							type="button">Agregar</button>
						</div>
					</form>
				</div>

				<div class="table-wrapper-scroll-y my-custom-scrollbar">
					<table id="DetalleVentaTable" class="table">
						<thead class="thead-light">
							<tr>
								<th>ID</th>
								<th>Código Artículo</th>
								<th>Nombre</th>
								<th>Cantidad</th>
								<th>Precio</th>
								<th>Sub Total</th>
								<th>Accion</th>
							</tr>
						</thead>
						<tbody >
						</tbody>
					</table>
				</div>
				
				<div class="d-flex justify-content-center">
					<p>
						<label>Total</label>
						<input type="text" id="total" value="" readonly> S/.
						<a th:onclick="detalleVentaPost()" th:href="@{/venta/list}"  class="btn btn-primary">Guardar Detalles</a>
						<!--  <button type="button" id="guardardetalle" th:onclick="detalleVentaPost()" class="btn btn-primary">Guardar Detalles</button>-->
					</p>				
				</div>
				
			</div>



		</div>
	</main>

</body>

<script th:src="@{/js/mainfunction.js}"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js" th:src="@{https://code.jquery.com/jquery-3.5.1.js}"
integrity="sha384-/LjQZzcpTzaYn7qWqRIWYC5l8FWEZ2bIHIz0D73Uzba4pShEcdLdZyZkI4Kv676E"
crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/table-to-json/1.0.0/jquery.tabletojson.min.js"
th:src="@{https://cdnjs.cloudflare.com/ajax/libs/table-to-json/1.0.0/jquery.tabletojson.min.js}"
integrity="sha512-kq3madMG50UJqYNMbXKO3loD85v8Mtv6kFqj7U9MMpLXHGNO87v0I26anynXAuERIM08MHNof1SDaasfw9hXjg=="
crossorigin="anonymous"></script>

<script src="../static/js/functions.js" th:src="@{/js/functions.js}"></script>
</html>
