<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="full-height" lang="en">
<head>
	<title>Ventas</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no " />
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">

	<link th:href="@{/css/css_proyecto.css}" href="../static/css/css_proyecto.css" rel="stylesheet" type="text/css"/>

	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js}"></script>
</head>

<body>

	<nav class="navbar navbar-light bg-light">
		<a th:href="@{/home}"><img src="../static/img/Dare Instruments.png" th:src="@{/img/Dare Instruments.png}" width="175" height="68" class="d-inline-block align-top" alt=""></a>
		<span th:if="${session.usuario != null}"> Bienvenido [[${#httpServletRequest.remoteUser}]] <span th:text="{session.usuario.usuario}"></span></span>
		<form th:action="@{/logout}" method="POST">
			<button type="submit" class="btn btn-primary mt-3">Salir</button>
		</form>
	</nav>

	<aside class="">
		<a class="cuadrado_cliente" th:href="@{#}">
			<img src="../static/img/Frame_cliente.png" th:src="@{/img/Frame_cliente.png}" alt=""/>
		</a>
		<a class="cuadrado_venta" th:href="@{/venta/list/}">
			<img src="../static/img/Frame_Venta.png" th:src="@{/img/Frame_Venta.png}" alt=""/>
		</a>
		<a class="cuadrado_entradas" th:href="@{#}">
			<img src="../static/img/Frame_Entradas.png" th:src="@{/img/Frame_Entradas.png}" alt=""/>
		</a>
		<a class="cuadrado_productos" th:href="@{/articulo/list/}">
			<img src="../static/img/Frame_Productos.png" th:src="@{/img/Frame_Productos.png}" alt=""/>
		</a>
		<a class="cuadrado_proveedor" th:href="@{#}">
			<img src="../static/img/Frame_Proveedor.png" th:src="@{/img/Frame_Proveedor.png}" alt=""/>
		</a>
		<a class="cuadrado_administrador" th:href="@{#}">
			<img src="../static/img/Frame_Administrador.png" th:src="@{/img/Frame_Administrador.png}" alt=""/>
		</a>
	</aside>


	<main>
		
		<div class="contenedor">
			
			<div class="row">
				<div class="col-md-12">
					<div id="Ventas">
						<p>
							<h1>Lista Ventas</h1>
							<a th:href="@{/venta/form}" class="btn btn-primary float-right">Registrar Venta</a>
						</p>
						<table class="table">
							<thead class="thead-dark">
								<tr>
									<th>ID </th>
									<th>Código de Venta</th>
									<th>Código de Empleado</th>
									<th>Código de Cliente</th>
									<th>Forma de Pago</th>
									<th>Comprobante de Pago</th>
									<th>Fecha</th>
									<th>Sub Total</th>
									<th>IGV</th>
									<th>Importe Total</th>
									<th>Detalle</th>
								</tr>
							</thead>

							<tbody>
								<tr th:if="${listarVenta.empty}">
									<td>No Results</td>
								</tr>
								<tr th:each="unit: ${listarVenta}">
									<td><span th:text="${unit.id_Venta}"></span></td>
									<td><span th:text="${unit.cod_ven}"></span></td>
									<td><span th:text="${unit.Empleado.cod_emp}"></span></td>
									<td><span th:text="${unit.Cliente.cod_cli}"></span></td>
									<td><span th:text="${unit.Forma_Pago.desc_pago}"></span></td>
									<td><span th:text="${unit.desc_comprobante}"></span></td>
									<td><span th:text="${unit.fecha_venta}"></span></td>
									<td><span th:text="${unit.sub_total}"> S/.</span></td>
									<td><span th:text="${unit.igv}"> S/.</span></td>
									<td><span th:text="${unit.importe_venta}"> S/.</span></td>
									<td><span><a th:href="@{'/venta/'+ ${unit.id_Venta} + '/detalle'}">
												Detalle </a></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js" th:src="@{https://code.jquery.com/jquery-3.5.1.js}"
integrity="sha384-/LjQZzcpTzaYn7qWqRIWYC5l8FWEZ2bIHIz0D73Uzba4pShEcdLdZyZkI4Kv676E"
crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/table-to-json/1.0.0/jquery.tabletojson.min.js"
th:src="@{https://cdnjs.cloudflare.com/ajax/libs/table-to-json/1.0.0/jquery.tabletojson.min.js}"
integrity="sha512-kq3madMG50UJqYNMbXKO3loD85v8Mtv6kFqj7U9MMpLXHGNO87v0I26anynXAuERIM08MHNof1SDaasfw9hXjg=="
crossorigin="anonymous"></script>

<script src="../static/js/functions.js" th:src="@{/js/functions.js}"></script>
</html>
